@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav>a.active {
    color: #63B700;
  }

  header button:hover svg path {
    fill: #fff;
  }

  header div button:hover svg path {
    fill: #323232;
    transition: all 0.5s ease;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    @apply fixed top-0 left-0 w-full h-full
  }

  .bread li a span::after {
    content: "/";
    margin: 0 15px;
  }

  #changeContent:hover::placeholder {
    content: 'Salom';
    color: #63B700;
  }

  .stageList:last-child {
    @apply border-orange
  }

  .stageList:last-child div span {
    @apply text-orange opacity-100
  }
}